@import url("https://fonts.google.com/specimen/Inter");
body{
    background-color: black;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
}
#main{
    background-color: hsl(0, 0%, 8%);
    width:40vw;
    margin-top: 10vh;
    border-radius:20px;
    margin-left:30vw;
    margin-right:30vw;
}
h1{
    color:white;
    font-weight: 700;
    padding-left: auto;
    padding-right:auto;
}
address{
   color:hsl(75, 94%, 57%);
   text-align: center;
}
#auth{
    font-size:1.1em;
    font-weight: 100;
    color:white;
    text-align: center;
}
.dis{
    margin-bottom: 5vh;
}
#b1{
    font-weight: 600;
    font-size: 1.1em;
    background-color: rgba(51, 49, 49, 0.359);
    color:white;
    font-weight:400;
    border:none;
    width:30vw;
    height:10vh;
    border-radius:2vh;
}
#b2{
    font-weight: 600;
    font-size: 1.1em;
    background-color: rgba(51, 49, 49, 0.359);
    color:white;
    font-weight:400;
    border:none;
    width:30vw;
    height:10vh;
    border-radius:2vh;}
#b3{
    font-weight: 600;
    font-size: 1.1em;
    background-color: rgba(51, 49, 49, 0.359);
    color:white;
    font-weight:400;
    border:none;
    width:30vw;
    height:10vh;
    border-radius:2vh;}
#b4{
    font-weight: 600;
    font-size: 1.1em;
    background-color: rgba(51, 49, 49, 0.359);
    color:white;
    font-weight:400;
    border:none;
    width:30vw;
    height:10vh;
    border-radius:2vh;
}
#b5{
    font-weight: 600;
    font-size: 1.1em;
    background-color: rgba(51, 49, 49, 0.359);
    color:white;
    font-weight:400;
    border:none;
    width:30vw;
    height:10vh;
    border-radius:2vh;
    margin-bottom: 5vh;
}
.btn{
    display:flex;
    flex-direction:column;
    margin-left:5vw;
    margin-right:5vw;
}
img{
        width:10vw;
        height:10vw;
        border-radius: 100%;
        margin-left:15vw;
        margin-right:15vw;
        margin-top:5vw;
    }
#p1 , #p2{
  color:white;
  font-weight:500;
}
#p1{
    position:absolute;
    top:100vh;
}
#p2{
    position:absolute;
    top:110vh;
}
@media only screen and (max-width:1100px){
    #main{
        width:90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    #b1,#b2,#b3,#b4,#b5{
        width:80vw;
    }
    .btn{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    img{
        width:20vw;
        height: 20vw;
        margin-left:35vw;
    }
    h1{
        text-align: center;
    }
    #p1,#p2{
        margin-top:80vh;
    }
}
@media only screen and (min-width:1100px){
    h1{
        text-align: center;
    }
}